.env
__pycache__/
popular_banco.py
view/__pycache__/banco_view.cpython-312.pyc
view/__pycache__/cadastro_view.cpython-312.pyc
view/__pycache__/configuracoes_view.cpython-312.pyc
view/__pycache__/corrida_view.cpython-312.pyc
view/__pycache__/lobby_view.cpython-312.pyc
view/__pycache__/login_view.cpython-312.pyc
.env
__pycache__/
controller/__pycache__/app_controller.cpython-312.pyc
model/__pycache__/usuario_model.cpython-312.pyc